___

<a href='careeredge.io'><img src='../CareerEdge Logo.png'/></a>
___
<center><em>Content Copyright by CareerEdge.io</em></center>

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: numbers data type represent the data which has numeric value. Numeric value can be integer, floating number or even complex numbers. 

Strings: In Python, Strings are arrays of bytes representing Unicode characters. A string is a collection of one or more characters put in a single quote, double-quote or triple quote.

Lists: Lists are just like the arrays, declared in other languages which is a ordered collection of data. It is very flexible as the items in a list do not need to be of the same type.

Tuples: Just like list, tuple is also an ordered collection of Python objects. The only difference between type and list is that tuples are immutable i.e. tuples cannot be modified after it is created.

Dictionaries: Dictionary in Python is an unordered collection of data values, used to store data values like a map, which unlike other Data Types that hold only single value as an element, Dictionary holds key:value pair.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [2]:
x = 1.25 + (5**2*8/2) - 1
print(x)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)-44
    
    What is the value of the expression 4 * 6 + 5 -29
    
    What is the value of the expression 4 + 6 * 5 -34

In [4]:
a = 4 * (6 + 5)
b = 4 * 6 + 5
c = 4 + 6 * 5
print(a)
print(b)
print(c)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br> - float

What would you use to find a numberâ€™s square root, as well as its square?

In [5]:
# Square root:
import math
math.sqrt(16)

4.0

In [6]:
# Square:
2**2

4

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [7]:
s = 'hello'
# Print out 'e' using indexing

print(s[1])

e

Reverse the string 'hello' using slicing:

In [8]:
s ='hello'
# Reverse the string using slicing

print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [9]:
s ='hello'
# Print out the 'o'

# Method 1:
print(s[4])

o

In [10]:
# Method 2:
print(s[-1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [12]:
# Method 1:
l = [0,0,0]
print(l)

[0, 0, 0]

In [14]:
# Method 2:

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [15]:
list3 = [1,2,[3,4,'hello']]
print(list3[2][2])

hello

Sort the list below:

In [17]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [18]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [19]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [21]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1]

['hello']

In [22]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2]

['hello']

Can you sort a dictionary? Why or why not?<br><br>Dictionaries are mappings not sequences. so can't be orderded

## Tuples

What is the major difference between tuples and lists?<br><br>tuples immutable.

How do you create a tuple?<br><br>parantheses cruve brackets

## Sets

What is unique about a set?<br><br>only one item of each

Use a set to find the unique values of the list below:

In [23]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

x = set(list5)
print(x)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [24]:
# Answer before running cell:false
2 > 3

False

In [25]:
# Answer before running cell:false
3 <= 2

False

In [26]:
# Answer before running cell-false
3 == 2.0

False

In [27]:
# Answer before running cell-True
3.0 == 3

True

In [28]:
# Answer before running cell-False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [29]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?-False
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!